* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
    background-color: rgb(204, 203, 203);
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: rgb(204, 203, 203);
}

main {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

h1 {
    text-align: center;
}

hr {
    font-weight: bold;
    height: 5px;
    background: black;
    margin-bottom: 10px;
}

.game {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.game button {
    width: 100px;
    height: 100px;
    border-radius: 10%;
    margin: 5px;
    font-size: 60px;
    background: gray;
}